body{
  overflow-x: hidden;
}
@media screen and (max-width: 1421px){
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    width: 560px;
  }
}
@media screen and (max-width: 1114px) {
  .container .container__block-cards {
    margin-right: 0;
    margin-left: 0;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(1) .grid-gradient {
    display: none;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(1) {
    width: 262px;
  }
  .container .container__block-cards {
    justify-content: center;
  }
  .skip {
    display: none;
  }
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block {
    margin-left: 5px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block .line {
    width: 207px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    width: 349px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    height: 371px;
  }

  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    width: 544px;
  }
  .container .container__items .container__items__block-photoBg {
    width: 521px;
    height: 302px;
  }
  .container .container__items .container__items__block-photo__photo {
    max-width: 543px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    margin-bottom: 8px;
  }
  .container .container__items .container__items__block-photoBg .container__items__block-photoBg__logo svg {
    right: -77px;
    top: -157px;
  }
  .container {
    padding-top: 107px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text{
    margin-left: 20px;
  }
}
@media screen and (max-width: 1070px){
  .container .container__items .container__items__block-photo__photo {
    max-width: 526px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block .line {
    max-width: 180px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 516px;
  }
  .container .container__items .container__items__block-photoBg .container__items__block-photoBg__logo svg {
    right: -47px;
    top: -154px;
  }
}

@media screen and (max-width: 1037px){
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block .line {
    max-width: 129px;
  }
  .container .container__items .container__items__block-photo__photo {
    max-width: 470px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 465px;
  }
}

@media screen and (max-width: 1004px){
  .container .container__items .container__items__block-photoBg {
    width: 489px
  }
  .container .container__items :first-child .container__items__year-block__year-text {
    margin-top: 29px;
    max-width: 379px;
  }
  .container .container__items :nth-child(2) .container__items__year-block__year-text {
    max-width: 440px;
  }
  .container .container__items:nth-child(3) {
    justify-content: center;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block .line {
    margin: 23px 27px 0 11px;
  }
  .container .container__items:nth-child(4) {
    align-items: flex-end;
    justify-content: space-around;
  }
  .container .container__items .container__items__block-photoBg {
    width: 468px;
  }
  .container .container__items .container__items__block-photo__photo {
    max-width: 404px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 407px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block {
    margin-left: -37px;
  }
  .container .container__items:nth-child(4) {
    align-items: flex-end;
    justify-content: center;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block .line {
    margin: 23px 13px 0 -6px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block {
    margin-left: 4px;
  }
  .container .container__items .container__items__block-photoBg {
    width: 411px;
  }
  .container .container__items .container__items__block-photoBg {
    margin-right: 39px;
  }
  .container .container__items .container__items__block-photo__photo {
    margin-right: 16px;
  }
  .container .container__items .container__items__block-points {
    margin-right: 171px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    margin-left: 0;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block {
    margin-left: -25px;
  }
  .container .container__items .container__items__block-photoBg .container__items__block-photoBg__logo svg {
    right: -62px;
    top: -170px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 394px;
  }
  .container__items__year-block__year .year{
    margin-left: 40px;
  }
  .container .container__items:nth-child(2){
    justify-content: center;
  }
}

@media screen and (max-width: 1000px){
  .container .container__items .container__items__block-photoBg .container__items__block-photoBg__year-block {
    margin-left: 40px;
  }
}
@media screen and (max-width: 871px){
  .bg-container .bg-main {
    bottom: 38px;
  }
}
@media screen and (max-width: 870px){
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 382px;
  }
  .container .container__items .container__items__block-points {
    margin-right: 63px;
  }
  .container .container__items .container__items__year-block {
    max-width: 452px;
  }
  .container .container__block-cards {
    margin-top: 96px;
  }
  :nth-child(3) .container__items__block-photo__year-block .container__items__block-photo__year-block__year-text.text-year {
    margin-left: 75px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 377px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    margin-left: -14px;
  }
  .container__block-cards__items{
    width: 227px;
    height: 227px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(5) {
    width: 227px;
    height: 227px;
  }
  .container .container__block-cards .container__block-cards__items {
    margin: 5px 4px;
  }
  .container .container__block-cards {
    justify-content: space-between;
  }

  .container .container__block-cards .container__block-cards__items:nth-child(7) {
    width: 261px;
  }
  .container .container__block-cards .container__block-cards__items .container__block-cards__items__text {
    width: 189px;
    max-height: 66px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(5), .container__block-cards__items {
    width: 259px;
    height: 260px;
  }
  .logo-before-click{
width: 102px;
    height: 144px;
  }
  .logo-after-click{
    width: 102px;
    height: 144px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(1) {
    width: 227px;
    height: 227px;
  }
  .container .container__block-cards .container__block-cards__items {
    margin: 5px 4px;
    width: 227px;
    height: 227px;
  }
  .container .container__block-cards .container__block-cards__items .container__block-cards__items__text {
    width: 148px;
  }
  .container .container__block-cards .container__block-cards__items .container__block-cards__items__text {
    font-size: 20px;
  }
  .container .container__block-cards .container__block-cards__items .container__block-cards__items__text {
    max-height: 20px;
    line-height: 21px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(4) .container__block-cards__items__text {
    width: 155px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(5), .container__block-cards__items {
    width: 227px;
    height: 227px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(5) .container__block-cards__items__text {
    width: 155px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(6) .container__block-cards__items__text {
    width: 142px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(7) {
    width: 227px;
    height: 227px;
  }
  .container .container__block-cards .container__block-cards__items .container__block-cards__items__text {
    width: 178px;
    max-height: 9px;
  }
}
@media screen and (max-width: 847px){
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 368px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block {
    margin-left: -36px;
  }
  .bg-container .bg {
    bottom: -80px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    width: 341px;
  }
  .container .container__items .container__items__block-photo__photo {
    max-width: 404px;
    margin-right: 1px;
  }
  .container .container__items .container__items__block-photo__photo {
    max-width: 383px;
  }
  .container .container__items :nth-child(2) .container__items__year-block__year-text {
    max-width: 367px;
  }
}

@media screen and (max-width: 828px){
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block .line {
    max-width: 113px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block .line {
    margin: 23px 21px 0 -6px;
  }
}
@media screen and (max-width: 800px){
  .container .container__items .container__items__block-photoBg {
    width: 372px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    width: 338px;
  }

  .container .container__items .container__items__description-photoBg .container__items__description-text {
    width: 344px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block {
    margin-left: -38px;
  }
}
@media screen and (max-width: 769px){
  .container .container__items .container__items__block-photo__photo {
    max-width: 383px;
  }
  :nth-child(3) .container__items__block-photo__year-block .container__items__block-photo__year-block__year-text.text-year {
    margin-left: 60px;
  }
  .container .container__items .container__items__block-points {
    position: relative;
    margin: 0 336px;
  }

  .container .container__items:nth-child(2) .container__items__block-points {
    margin-right: 124px;
  }
  :nth-child(3) .container__items__block-photo__year-block .container__items__block-photo__year-block__year-text.text-year {
    margin-left: 48px;
  }
  .container .container__items :nth-child(2) .container__items__year-block__year-text {
    max-width: 404px;
  }

}

@media screen and (max-width: 754px){
  .container .container__items {
    justify-content: center;
  }
  .container .container__items .container__items__block-points .container__items__block-points__points {
    height: 218px;
  }
  .container .container__items .container__items__block-points {
    margin: 0 222px;
  }
  .container .container__items:nth-child(2), .container .container__items:nth-child(3) {
    flex-wrap: wrap;
  }
  .container .container__items:nth-child(2) .container__items__block-points {
    margin-right: 502px;
  }
  .container .container__items:nth-child(2) .container__items__year-block__year-text {
    max-width: 379px;
  }
  .container .container__items .container__items__year-block:nth-child(2) {
    margin-left: 215px;
  }
  .container .container__items:nth-child(2) .container__items__year-block__year-text {
    max-width: 220px;

  }
  .container__items__year-block:nth-child(2) .text-year{
    margin-left: 36px;
  }
  .container__items__year-block:nth-child(1) .text-year{
    margin-left: 40px;
  }
  .container__items__block-photo__year-block {
    margin-top: 103px;
  }
  .container .container__items .container__items__block-photo__photo {
    margin-top: 56px;
  }
  .container .container__items .container__items__block-photo__photo {
    max-width: 340px;
  }
  .container .container__items:nth-child(4) {
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .container .container__items .container__items__block-photoBg {
    order: 2;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    background: #A5E5F4;
    position: absolute;
    top: -58px;
    left: 4px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 342px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    margin-left: 9px;
  }

  .container .container__items .container__items__description-photoBg .container__items__description__awards-block {
    margin-left: -38px;
    position: absolute;
    bottom: -400px;
  }
  .container .container__items .container__items__block-photoBg {
    width: 382px;
    margin: 0 auto;
  }
  .container .container__items .container__items__block-photoBg .container__items__block-photoBg__year-block .text-year {
    max-width: 360px;
    margin-top: 32px;
    margin-left: 62px;
  }

  .container .container__items .container__items__description-photoBg .container__items__description__awards-block {
    position: absolute;
    bottom: -361px;
    left: 38px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block .line {
    max-width: 102px;
  }
  .container .container__block-cards {
    justify-content: center;
  }
  .container .container__items .container__items__block-photoBg .container__items__block-photoBg__logo svg {
    right: -114px;
    top: -146px;
  }
  .container .container__items .container__items__year-block .container__items__year-block_big-yellow-circle {
    top: -24px;
    left: -58px;
  }
  .container .container__items .container__items__year-block .container__items__year-block__trigon {
    top: -19px;
    left: -96px;
    transform: rotate(100deg);
  }
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure {
    //bottom: -358px;
    /////* left: 77px; */
    //right: -298px;
  }
}
@media screen and (max-width: 750px) {
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure {
    position: absolute;
    z-index: -30;
    bottom: -200px;
    left: -206px;

  }
}

@media screen and (max-width: 749px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure {
    position: absolute;
    z-index: -30;
    bottom: -202px;
    left: -204px;
  }
}
@media screen and (max-width: 657px){
  .container .container__items .container__items__block-photoBg .container__items__block-photoBg__logo svg {
    right: -26px;
    top: -146px;
  }

}

@media screen and (max-width: 690px){
  .container__items__block-photo__year-block__figure .figure-for-phone{
    bottom: -246px;
    left: 311px;
    position: absolute;
    z-index: -30;
    display: block;
  }


}

@media screen and (max-width: 692px){
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    margin-left: 4px;
  }
  .container .container__items .container__items__block-photoBg .container__items__block-photoBg__logo svg {
    right: -77px;
    top: -146px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block .line {
    max-width: 97px;
  }
  .bg-container .bg-main {
    bottom: 57px;
    height: 669px;
  }
  .container .container__items .container__items__block-photoBg .container__items__block-photoBg__logo svg {
    right: -55px;
  }
  .figure-for-laptop{
    display: none;
  }
  .figure-for-phone{
    display: block;
    right: 100px;
    position: absolute;
  }
  .container .container__items .container__items__block-photoBg .container__items__block-photoBg__logo svg {
    top: -144px;
    right: -10px;
  }
}
@media screen and (max-width: 670px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    bottom: -63px;
    left: 512px;
  }
}
@media screen and (max-width: 656px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    bottom: -63px;
    left: 505px;
  }
}
@media screen and (max-width: 647px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    bottom: -63px;
    left: 493px;
  }
}
@media screen and (max-width: 619px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    bottom: -63px;
    left: 487px;
  }
}
@media screen and (max-width: 602px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    bottom: -63px;
    left: 478px;
  }
}
@media screen and (max-width: 581px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    bottom: -63px;
    left: 467px;
  }
}
@media screen and (max-width: 556px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    bottom: -63px;
    left: 455px;
  }
}
@media screen and (max-width: 540px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    bottom: -63px;
    left: 446px;
  }
}
@media screen and (max-width: 526px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    bottom: -63px;
    left: 441px;
  }
}
@media screen and (max-width: 508px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    bottom: -63px;
    left: 429px;
  }
}
@media screen and (max-width: 489px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    bottom: -63px;
    left: 421px;
  }
}
@media screen and (max-width: 479px) {
  .container .container__items .container__items__block-photoBg {
    order: 2;
    width: 100%;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .container .container__items .container__items__block-photo__photo {
    margin-top: 56px;
    width: 100%;
  }
  .container .container__items .container__items__block-photo__photo {
    margin-top: 56px;
    width: 333px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 457px;
  }
  .container .container__items .container__items__description-photoBg {
    position: relative;
    right: 4px;
  }
  .container .container__items:nth-child(4) {
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    margin-left: 78px;
  }
  .container .container__items .container__items__description-photoBg {
    position: relative;
    right: 4px;
    top: -29px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block {
    margin-left: 23px;
    position: absolute;
    bottom: -397px;
    left: 45px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(1) {
    width: 158px;
    height: 145px;
  }
  .logo-before-click {
    width: 55px;
    height: 79px;
  }
  .container .container__block-cards .container__block-cards__items .container__block-cards__items__text{
    font-size: 12px;
  }
  .container .container__block-cards .container__block-cards__items{
    width: 158px;
    height: 145px;
  }
  .container .container__block-cards .container__block-cards__items .container__block-cards__items__text {
    font-size: 12px;
    line-height: 13px;
    width: 128px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(5), .container__block-cards__items {
    width: 158px;
    height: 145px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(7){
    width: 158px;
    height: 145px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(7) .container__block-cards__items__text {
    margin-top: 59px;
  }
  .container__block-cards__items__arrow img{
    width: 24px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(7){
    padding-top: 17px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(6) .container__block-cards__items__text {
    width: 99px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(7) .container__block-cards__items__text {
    margin-top: 85px;
  }
  .container .container__block-cards .container__block-cards__items:nth-child(5) .container__block-cards__items__text {
    width: 130px;
  }
  .bg-container .bg-main {
    bottom: 6px;
  }
  .container__items__block-photoBg__logo svg{
    width: 91px;
    height: 129px;
  }
  .container .container__items .container__items__block-photoBg .container__items__block-photoBg__logo svg {
    right: 30px;
    top: -49px;
  }
}


@media screen and (max-width: 465px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    bottom: -63px;
    left: 408px;
  }
}
@media screen and (max-width: 448px){
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 451px;
  }
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    left: 400px;
  }
}


@media screen and (max-width: 439px){
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 438px;
  }
}
@media screen and (max-width: 428px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    left: 401px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 434px;
  }
}
@media screen and (max-width: 419px){
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    left: 399px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 430px;
  }
}

@media screen and (max-width: 404px) {
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 404px;
  }
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    left: 379px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    margin-left: 54px;
  }
  .container .container__items .container__items__year-block:nth-child(2) {
    margin-left: 132px;
  }
}
@media screen and (max-width: 390px){


  .container .container__items {
    justify-content: center;
    margin-left: 58px;
  }
  .container .container__items .container__items__year-block .container__items__year-block_big-yellow-circle {
    top: -43px;
    left: -63px;
  }
  .container .container__items .container__items__year-block:nth-child(2) {
    margin-left: 77px;
    margin-top: -23px;
  }
  .container .container__items .container__items__year-block .container__items__year-block__trigon {
    top: 53px;
    left: -207px;
  }
  :nth-child(3) .container__items__block-photo__year-block .container__items__block-photo__year-block__year-text.text-year {
    margin-left: 36px;
  }
  .container .container__items .container__items__block-photo__photo img {
    max-width: 367px;
    height: 197px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 462px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    margin-left: 4px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 391px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    background: #A5E5F4;
    position: absolute;
    top: -58px;
    left: -56px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block {
    margin-left: -55px;
    position: absolute;
    bottom: -398px;
    left: 27px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    margin-left: -7px;
  }
  .container .container__items .container__items__block-photoBg {
    width: 521px;
    height: 260px;
  }
  .container__items:nth-child(4){
   margin-left: 0;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block .line{
    display: none;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block {
    margin-left: 13px;
    position: absolute;
    bottom: -348px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block .container__items__description__awards-block__block-Lorem {
    margin-left: 56px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    left: 3px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    margin-left: 38px;
  }
  .container__items:nth-child(3){
    margin-left: 0;
  }
  .container__items__block-photo__year-block {
    margin-left: 20px;
  }
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    left: 353px;
  }


}


@media screen and (max-width: 382px){
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 382px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description__awards-block {
    bottom: -359px;
  }
}
@media screen and (max-width: 376px){


  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 376px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    width: 306px;
  }
  .bg-container .bg-main {
    bottom: 120px;
    height: 303px;
    background: #F4F4F4;
    transform: skewY(333deg);
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    height: 402px;
  }
  .figure-for-laptop{
    display: none;
  }
  .container__items__block-photo__year-block{
    position: relative;
    .figure-for-phone{
      display:block;
      position: absolute;
      z-index: -30;

    }
  }
  .container .container__items .container__items__block-points .container__items__block-points__points {
    height: 202px;
  }
  .container .container__items .container__items__year-block:nth-child(2) {
    margin-left: 65px;
  }
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    left: 349px;
  }
}
@media screen and (max-width: 370px){
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 370px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text {
    margin-left: 30px;
  }
  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    left: 344px;
  }
}


@media screen and (max-width: 361px){

  .container__items__block-photo__year-block .container__items__block-photo__year-block__figure .figure-for-phone {
    left: 340px;
  }
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 362px;
  }
}

@media screen and (max-width: 360px){
  .container .container__items .container__items__description-photoBg .container__items__description-text__fon {
    max-width: 340px;
  }
}